.filterItem {
  width: 150px !important;
}

.filters {
  box-shadow: #fff 0px 5px 5px 5px !important;
}

.filterRadioGroup {
  padding-top: 5px;
}

.radio {
  height: 23px;
}

.filterLabel {
  font-weight: 400;
}
