.fields {
  margin-top: 20px !important;
}

.escalateWithoutNotificationWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px !important;
  margin-right: 20px !important;
}
